@()



@defining(play.core.PlayVersion.current) { version =>

    <html>

        <title>Reply Tweets Deck.GL</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

        <style type="text/css">
                #container {
                    width: 100%;
                    height: 100%;
                }

                #search {
                    width: 100%;
                    top: 10px;
                    position: absolute;
                }

                #info {
                    left: 0px;
                    display: block;
                    position: relative;
                    margin: 0px auto;
                    width: 50%;
                    padding: 10px;
                    border: none;
                    border-radius: 3px;
                    font-size: 12px;
                    text-align: center;
                    color: #222;
                    background: #fff;
                }
        </style>

        <body style="line-height: 0;">
            <div id="map" style="width: 100vw;
                height: 100vh"></div>
            <div id="search">
                <div class="row"></div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <input type="text" style="width: 40%"
                    class="form-control col-sm-4 ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                    id="keyword-textbox" placeholder="Search keywords e.g hurricane">
                    <div class="col-sm-1" style="padding: 0 5px 0 15px">
                        <div class="form-check" style="margin: 10px 0 0 0">
                            <input type="checkbox" class="form-check-input" id="checkbox">
                            <label class="form-check-label" for="exampleCheck1" >Edge</label>
                        </div>
                    </div>
                    <div class="col-sm-1" style="padding: 0 5px">
                        <div class="form-check" style="margin: 10px 0 0 0">
                            <input type="checkbox" class="form-check-input" id="bundle">
                            <label class="form-check-label" for="exampleCheck1" >Bundle</label>
                        </div>
                    </div>
                    <div class="col-sm-1" style="padding: 0 5px">
                        <div class="form-check" style="margin: 10px 0 0 0">
                            <input type="checkbox" class="form-check-input" id="point">
                            <label class="form-check-label" for="exampleCheck1" >Point</label>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" onclick="drawGraph()" class=" btn btn-primary" id="submit-button">
                            Show</button>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 pull-right" id="variance">crossed edges: </div>
                </div>
            </div>
        </body>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link href='assets/lib/bootstrap/css/bootstrap.css' rel='stylesheet' />

        <script src="https://unpkg.com/deck.gl@@7.1.10/dist.min.js"></script>

        <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js"></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />

        <script>
                mapboxgl.accessToken = 'pk.eyJ1IjoiamVyZW15bGkiLCJhIjoiY2lrZ2U4MWI4MDA4bHVjajc1am1weTM2aSJ9.JHiBmawEKGsn3jiRK_d0Gw';
                const map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/light-v9',
                    center: [-96.35, 39.5],
                    zoom: 3.7,
                    maxZoom: 17,
                    minZoom: 0
                });
                let zoomLevel = Math.floor(map.getZoom());
                map.on("moveend", () => {
                    var bounds = map.getBounds();
                    var ne = bounds.getNorthEast();
                    var sw = bounds.getSouthWest();
                    var maxLng = ne.lng;
                    var maxLat = ne.lat;
                    var minLng = sw.lng;
                    var minLat = sw.lat;
                    removeLayer();
                    if (document.getElementById("point").checked === true) {
                        renderClusterPoints(minLng, minLat, maxLng, maxLat, zoomLevel);
                    }
                    if (document.getElementById("checkbox").checked === true) {
                        renderClusterEdges(minLng, minLat, maxLng, maxLat, zoomLevel);
                    }
                });

                map.on('zoomend', () => {
                    const currentZoom = Math.floor(map.getZoom());
                    var bounds = map.getBounds();
                    var ne = bounds.getNorthEast();
                    var sw = bounds.getSouthWest();
                    var maxLng = ne.lng;
                    var maxLat = ne.lat;
                    var minLng = sw.lng;
                    var minLat = sw.lat;
                    removeLayer();
                    if (zoomLevel !== currentZoom) {
                        if (document.getElementById("point").checked === true) {
                            renderClusterPoints(minLng, minLat, maxLng, maxLat, zoomLevel);
                        }
                        if (document.getElementById("checkbox").checked === true) {
                            renderClusterEdges(minLng, minLat, maxLng, maxLat, zoomLevel);
                        }
                        zoomLevel = currentZoom;
                    }
                });

                function renderClusterEdges(minLng, minLat, maxLng, maxLat, zoom) {
                    var request = new XMLHttpRequest();
                    let url = 'http://localhost:9000/edgeCluster?lowerLongitude=' + minLng + '&lowerLatitude=' + minLat
                            + '&upperLongitude=' + maxLng + '&upperLatitude=' + maxLat + "&zoom=" + zoom + "&bundling=";
                    if (document.getElementById("bundle").checked === true) {
                        url += 1;
                    } else {
                        url += 0;
                    }
                    request.open('GET', url, false);//for blocking
                    // console.log(url);
                    request.send(null);
                    if (request.status === 200) {
                        var data = JSON.parse(request.responseText);
                        console.log(data[data.length - 1]);
                        if(!$('#bundle').prop('checked')) {
                            $("#variance").text("crossed edges: " + data[data.length - 1] + "%");
                        }
                        data.pop();
                        const iconLayer = new MapboxLayer({
                            id: 'edgeCluster',
                            type: LineLayer,
                            opacity: 0.1,
                            data: data,
                            getSourcePosition: d => d.from,
                            getTargetPosition: d => d.to,
                            getWidth: d => {
                                let temp = Math.min(15, Math.ceil(Math.pow(d.width, 1 / 2)));
                                return Math.max(temp, 3);
                            },
                            getColor: [57, 73, 171]
                        });
                        map.addLayer(iconLayer);
                    }
                }

                function renderClusterPoints(minLng, minLat, maxLng, maxLat, zoom) {
                    var request = new XMLHttpRequest();
                    const url = 'http://localhost:9000/cluster?lowerLongitude=' + minLng + '&lowerLatitude=' + minLat
                            + '&upperLongitude=' + maxLng + '&upperLatitude=' + maxLat + "&zoom=" + zoom;
                    request.open('GET', url, false);//for blocking
                    // console.log(url);
                    request.send(null);
                    if (request.status === 200) {
                        var data = JSON.parse(request.responseText);
                        // console.log(data);
                        const iconLayer = new MapboxLayer({
                            id: 'cluster',
                            type: ScatterplotLayer,
                            data: data,
                            pickable: true,
                            opacity: 0.8,
                            stroked: false,
                            filled: true,
                            radiusScale: 100,
                            radiusMinPixels: 5,
                            radiusMaxPixels: 25,
                            getPosition: d => d.coordinates,
                            getRadius: d => d.size,
                            getFillColor: d => [57, 73, 171],
                            onHover: d => d.size
                        });
                        map.addLayer(iconLayer);
                    }
                }

                var query = "";

                function removeLayer() {
                    if (map.getLayer('layer') !== undefined) {
                        map.removeLayer('layer');
                    }
                    if (map.getLayer('layer2') !== undefined) {
                        map.removeLayer('layer2');
                    }

                    if (map.getLayer('edgeCluster') !== undefined) {
                        map.removeLayer('edgeCluster');
                    }

                    if (map.getLayer('cluster') !== undefined) {
                        map.removeLayer('cluster');
                    }
                }

                function drawGraph() {
                    removeLayer();
                    query = document.getElementById("keyword-textbox").value;
                    var bounds = map.getBounds();
                    var ne = bounds.getNorthEast();
                    var sw = bounds.getSouthWest();
                    var ne_lng = ne.lng
                    var ne_lat = ne.lat
                    var sw_lng = sw.lng
                    var sw_lat = sw.lat

                    var request = new XMLHttpRequest();
                    request.open('GET', 'http://localhost:9000/replies?query=' + query + '&lowerLongitude=' + sw_lng + '&upperLongitude=' + ne_lng + '&lowerLatitude=' + sw_lat + '&upperLatitude=' + ne_lat, false);//for blocking
                    request.send(null);
                    if (request.status === 200) {
                        var bounds = map.getBounds();
                        var ne = bounds.getNorthEast();
                        var sw = bounds.getSouthWest();
                        var maxLng = ne.lng;
                        var maxLat = ne.lat;
                        var minLng = sw.lng;
                        var minLat = sw.lat;
                        renderClusterPoints(minLng, minLat, maxLng, maxLat, zoomLevel);
                        if (document.getElementById("checkbox").checked === true) {
                            renderClusterEdges(minLng, minLat, maxLng, maxLat, zoomLevel);
                        }
                    }
                }

        </script>

    </html>

}